.home-page
	.site-header
		h1.site-title Welford Bouquet
		nav.main-nav
			label(for='toggle') &#9776;
			input(type='checkbox' id='toggle')
			ul.menu
				a(href="#")
					.search.fa.fa-search
				.nav-menu
					li
						a(href='#') Home
					li
						a(href='#') Shop
					li
						a(href='#') Our Story
					li
						a(href='#') Exhibitions
					li
						a(href='#') Commisions
					li
						a(href='#') Blog
					li
						a(href='#') Contact
				a(href="#")
					.fa.fa-shopping-cart
	hr


	section.showcase
		a(href="#")
			img(src="images/amy-shamblen-662202-unsplash.jpg", alt="")
		a(href="#")
			img(src="images/alexandra-gorn-328026-unsplash.jpg", alt="")
		a(href="#").image-container
			img(src="images/tom-the-photographer-651516-unsplash.jpg", alt="")
			.text-block
				h3 The Making
				p Our yarn is 100% British.
		a(href="#").image-container
			img(src="images/monika-grabkowska-664428-unsplash.jpg", alt="")
			.text-block
				h3 Our Story
				p A family run business.
		a(href="#").image-container
			img(src="images/christie-kim-769380-unsplash.jpg", alt="")
			.text-block
				h3 Commissions
				p Furnishing &amp; upholstery.

	section.fav
		h3 Our Favourites
		p Lorem ipsum dolor sit amet
		.fav-image
			a(href="#")
				img(src="images/tanalee-youngblood-344759-unsplash.jpg", alt="")
			a(href="#") West Cliff
			p
				span.strike-through &pound;290.00
				|  
				span.price-color &pound; 250.00
		.fav-image
			a(href="#")
				img(src="images/tanalee-youngblood-344759-unsplash.jpg", alt="")
			a(href="#") Esk
			p &pound;110.00
		.fav-image
			a(href="#")
				img(src="images/tanalee-youngblood-344759-unsplash.jpg", alt="")
			a(href="#") Sandsend
			p &pound;360.00
		.fav-image
			a(href="#")
				img(src="images/tanalee-youngblood-344759-unsplash.jpg", alt="")
			a(href="#") West Cliff Cushion
			p &pound;250.00



	footer
		hr
		nav.footer-nav
			ul
				li
					a(href='#') Faq
				li
					a(href='#') Delivery &amp; Returns
				li
					a(href='#') Terms &amp; Conditions
				li
					a(href='#') Contact Us
		hr
		.social
			a(href="#")
				i.fa.fa-twitter
			a(href="#")
				i.fa.fa-facebook-official
			a(href="#")
				i.fa.fa-instagram
		.copyright
			p Copyright 2019
			p Made in Yorkshire

